* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --max-height: 200px;
    --padding: 20px;
    --margin-bottom:20px;
    --text-align:center;
}
body {
    background-color: #d9dcd6;
}

header {
    padding: var(--padding);          /*  Removed div with a header class as we only used <header> once in our html source  */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1{
    display: inline-block;      /*  Removed h1 as a class as its only called once in the html source code.  */
    font-size: 48px;
}

section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    list-style-type: none;      /*  Removed ul as a class as unordered list is only called for the body section */
}

ul li {
    display: inline-block;     /* Removed ul li as a class as its only called in the body section so it doesn't conflict with any other ul li   */
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: var(--padding);
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-brand,.benefit-cost,.benefit-lead {
    margin-bottom: 32px;            /* benefit-brand, benefit-cost, benefit-lead all have the same style so its easier to group them into one style */
    color: #ffffff;
}


.benefit-brand h3,.benefit-cost h3,.benefit-lead h3 {
    margin-bottom: 10px;        /* benefit-brand, benefit-cost, and benefit-lead all have the same style so its easier to group them into one style */
    text-align: var(--text-align);
}


.benefit-brand img,.benefit-cost img,.benefit-lead img {
    display: block;         /* .benefit-brand, benefit-cost, and benefit-lead all have the same style so its much easier to group them all into one style */
    margin: 10px auto;
    max-width: 150px;
}

.online-reputation-management,.social-media-marketing,.search-engine-optimization {
    margin-bottom: var(--margin-bottom);
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  /* .search-engine-optimization, online-reputation and social-media all have the same style so they are put into one style */
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img,.online-reputation-management img,.search-engine-optimization img {  /*.search-engine-optimization, online-reputation-managment , social-media-marketing all go together as they have the same style */
    max-height: var(--max-height);
}

.search-engine-optimization h2,.social-media-marketing h2,.online-reputation-management h2 {    /* .search-engine-optimization, online-reputation-management, social-media-marketing all go together as they have the same style */
    margin-bottom: var(--margin-bottom);
    font-size: 36px;
}

/* Start of the footer css clases */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  /* Replaced the div at the end of the page with a footer as it contains a copyright which falls into footer category */
    text-align: var(--text-align);
}

footer h2 {
    font-size: 20px;
}
